  h1 {
    font-family:Arial;
    font-size: 7.1250vw;
  }
  p {
    font-family:Arial;
    font-size: 3.5625vw;
    padding: 0.5208vw;
  } 
  body{
    background-color: #c0c0c0;
    font-family:Arial;
  }